div {
  margin: 16px;
  justify-content: center;
  align-items:center;
  display:-webkit-flex;
}

p {
  text-align: center;
  font-size: large;
  color: navy;
}

#circle {
  width: 0;
  height: 0;
  border: 60px solid salmon;
  border-radius: 50%;
}

#oval {
  width: 200px;
  height: 100px;
  background: magenta;
  border-radius: 100px / 50px;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid orange;
}

#diamond {
  position: relative;
  width: 120px;
  height: 120px;
  background: hotpink;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  margin: 40px;
}

#trapezium {
  width: 120px;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid palegreen;
}

#parallelogram {
  width: 160px;
  height: 100px;
  background: skyblue;
  transform: skew(-30deg);
  margin-left: 50px;
}

#star {
  width: 0;
  height: 0;
  margin: 60px 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid silver;
  transform: rotate(35deg);
  position: relative;
  display: block;
}

#star::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid silver;
  transform: rotate(-35deg);
  display: block;
  position: absolute;
  top: -45px;
  left: -65px;
}

#star::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid silver;
  transform: rotate(-70deg);
  display: block;
  position: absolute;
  top: 3px;
  left: -105px;
}

#star_six_points {
  width: 0;
  height: 0;
  display: block;
  position: relative;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid slateblue;
}

#star_six_points::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid slateblue;
  margin: 30px 0 0 -50px
}

#hexagon {
  width: 100px;
  height: 55px;
  background: seagreen;
  position: relative;
  margin: 80px 30px;
}

#hexagon::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid seagreen;
  position: absolute;
  top: -25px;
  left: 0;
}


#hexagon::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid seagreen;
  position: absolute;
  bottom: -25px;
  left: 0;
}

#heart {
  position: relative;
  width: 140px;
  height: 115px;
}

#heart::before, #heart::after {
  content: "";
  width: 70px;
  height: 115px;
  position: absolute;
  background: red;
  left: 70px;
  top: 0;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  z-index: -100;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#egg {
  width: 139px;
  height: 190px;
  background: #ffc000;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

#infinity {
  width: 220px;
  height: 100px;
  position: relative;
}

#infinity::before, #infinity::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border: 20px solid #0bc999;
  border-radius: 50px 50px 0px 50px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  z-index: -100;
}

#infinity::after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  z-index: -100;
}


#comment_bubble{
  width: 160px;
  height: 100px;
  background: #09f;
  position: relative;
  border-radius: 12px;
}

#comment_bubble::before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 38px;
  position: absolute;
  border-top: 13px solid transparent;
  border-left: 26px solid #09f;
  border-bottom: 13px solid transparent;
}

#cloud {
  text-align: center;

  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 80px 1em 0 1em;

  margin: 0 100px;

  position: relative;

  background-color: #A4C9CF;

  border-radius: 100% 100% 0 0;
}

#cloud::before, #cloud::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;

  background-color: #A4C9CF;
  border-radius: 100%;
}

#cloud::before {
  width: 125px;
  height: 125px;
  left: -80px;
  border-bottom-right-radius: 0;
}

#cloud::after {
  width: 100px;
  height: 100px;
  right: -60px;
  border-bottom-left-radius: 0;
}

#note {
  position: relative;
  background-color: #ffc;
  padding: 1rem;
  text-align: center;
  max-width: 200px;
}

#note::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 5px;
  width: 50%;
  top: 80%;
  max-width: 200px;

  box-shadow: 0 13px 10px black;
  transform: rotate(4deg);
}

#colors {
  padding: 1em;
  width: 250px;
  height: 200px;
  box-sizing: border-box;

  background-color: #E4E4D9;

  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient(85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient(85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient(85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient(85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient(85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}