body {
	background: #dddddd;
}

#canvas {
	margin: 10px;
	background: white;
	border: thin solid #aaaaaa;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

#controls {
	position: absolute;
	top: 28px;
	left: 30px;
}